{% extends "layout.html" %}
{% block content %}

	<br><br>

	<a class="btn btn-outline-info" href="/employees">Return to the previous page</a>

	<br><br>

	<table class="table table-striped table-hover">
	    <thead class="thead-dark">
	        <th>EmployeeID</th> <th>TimeIn</th> <th>TimeOut</th>
	    </thead>

	    <tbody>
	        {% for rec in empRecords%}
	        <tr>
	            <td>{{rec[0]}}</td>
	            <td>{{rec[1]}}</td>
	            <td>{{rec[2]}}</td>
	        </tr>
	        {% endfor %}    
	    </tbody>
	</table>


{% endblock content %}