{% extends "layout.html" %}
{% block content %}

    <br>
    <form method="POST" action="/employee_search_exec">
        <div class="form-group">
            <label for="search_type">Search By: </label>
            <select id="search_type" name="search_type" required>
                <option value="empName">Employee Name</option>
                <option value="empId">Employee ID</option>
            </select>
            <input type="text" class="form-control" id="empDetails" name="empDetails" aria-describedby="formHelp" placeholder="Enter Employee Search Details" required>
        </div>
        <input type="submit" value="Search">
    </form>
    {% if msg is defined %}
        <h4 style="color: red;">{{msg}}</h4>
    {% endif %}


    <br><br>

    {% if empRecord is defined %}
        {% set empId = empRecord[0] %}
        <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <th>ID</th> <th>JobID</th> <th>Name</th> <th>Address</th> <th>Sex</th>  <th>Phone No.</th>
                </thead>
                <tbody>
                    {% for emp in empRecord%}
                    <tr>
                        <td>{{emp[0]}}</td>
                        <td>{{emp[1]}}</td>
                        <td>{{emp[2]}}</td>
                        <td>{{emp[3]}}</td>
                        <td>{{emp[4]}}</td>
                        <td>{{emp[5]}}</td>
                    </tr>
                    {% endfor %}    
                </tbody>
        </table>

        <br><br>

        <button style="margin: 0 auto;" type="button" class="btn btn-info btn-lg">View Attendance Information</button>

    {% endif %}



{% endblock content %}