<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Executive Attendance Report</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">    
        <style>
            th, tr{
                text-align: center;
            }
        </style>
    </head>
    <body>
        
        <h1 class="display-3" style="text-align:center;" >Executive Attendance Report</h1>

        <div class="blog-header">
            <div class="container">
                <br>
                <main role="main" class="container">
                    <div class="container">
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <th>Employee ID</th> <th>Employee Name</th> <th>Job Description</th> <th>Phone No.</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{empInfo[0]}}</td>
                                    <td>{{empInfo[1]}}</td>
                                    <td>{{empInfo[2]}}</td>
                                    <td>{{empInfo[3]}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <th>Employee ID</th> <th>Time In (YYYY-MM-DD)</th> <th>Time Out (YYYY-MM-DD)</th> <th>Hours Worked</th>
                            </thead>
                            <tbody>
                                {% for rec in empAttendance %}
                                <tr>
                                    <td>{{rec[0]}}</td>
                                    <td>{{rec[1]}}</td>
                                    <td>{{rec[2]}}</td>
                                    <td>{{rec[3]}}</td>
                                </tr>
                                {% endfor %}    
                            </tbody>
                        </table>
                    </div>
                </main>
        
            </div>
        </div>
    </body>
</html>