{% extends "layout.html" %}
{% block content %}
    <style>
        .mail{
            display: block;
            width: 100%;
            background-color: black;
            color: lightblue;
            padding : 12px 24px;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
            border: none;
        }

        .mail:hover{
            background-color: lightseagreen;
            color: black;
        }
        th, tr{
            text-align: center;
        }
    </style>
    
    {% if empRecords is defined %}
        {% if deptTypes is defined %}
            <form action="/employee_search_hr" method="POST">
                <div class="form-group">
                    <label for="department">Filter By Department: </label>
                    <select id="department" name="department" required>
                        {% for emp in deptTypes%}
                            <option value="{{emp[0]}}">{{emp[0]}}</option>
                        {% endfor %}
                            <option value="all">View All</option>
                    </select>
                    <input type="submit" value="Search">
                </div>
            </form>    
        {% endif %}
    
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <th>ID</th> <th>Name</th> <th>Job Name</th> <th>Department</th> <th>Hourly Rate</th> <th>Total Hours Worked</th> <th>Salary</th>
            </thead>

            <tbody>
                {% for emp in empRecords%}
                <tr>
                    <td>{{emp[0]}}</td>
                    <td>{{emp[1]}}</td>
                    <td>{{emp[2]}}</td>
                    <td>{{emp[3]}}</td>
                    <td>{{'$' ~ emp[4]}}</td>
                    {% set count = loop.index-1 %}
                    <td>{{empTotalHoursList[count]}}</td>
                    <td>{{'$' ~ empSalaryList[count]}}</td>
                </tr>
                {% endfor %}    
            </tbody>
        </table>
    {% endif %}

    {% if err_msg is defined %}
        <h4 style="color: red;">{{err_msg}}</h4>
    {% endif %}

    {% if dept is defined %}
        <form action="/employee_search_hr/{{dept}}">
            <input type="submit" value="Generate PDF File" class="mail">
        </form>
    {% else %}
        <form action="/human_resource" method="POST">
            <input type="submit" value="Generate PDF File" class="mail">
        </form>
    {% endif %}
    
    <br>
    <form action="mailto:executive@company.com" method="post">
        <input type="submit" value="Create New Email" class="mail">
    </form>

{% endblock content %}