{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<section class="jumbotron text-center" style="width: 80%; margin: 0 auto;">
    <div class="container">
        <div class="row" >
            <div class="col-lg">
                    <h3>Please enter your username and password credentials</h3>
                    <h3>
                        {% if msg %}
                            <span style="color: red">Invalid User Credentials</span>                          
                        {% endif %}
                    </h3>
            </br>
                <form method="POST" action="/login">
                    <div class="form-group">
                      <label for="uname">Username : </label>
                      <input type="number" name="uname" class="form-control" id="uname" required>
                    </div>
                    <div class="form-group">
                      <label for="passw">Password : </label>
                      <input type="password" name="passw" class="form-control" id="passw" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>   
        </div>
    </div>
</section>

{% endblock content %}